/** {
  box-sizing: border-box;
  text-decoration: none;
}

body {
	width: 100%;
	margin: auto;
}*/

/*#ticker {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.badges {
	height: auto;
	width: 25%;
}*/


/*.table,
.heading {
	font-size: 35px;
}*/

.adjust {
	padding: 0px;
}

th, .name, .result, .pts, .score, .new-teams, .new-prediction, .prediction, .teams {
  background-color: #0b063e;
}

.relegated {
	background-color: red;
}

footer {
	background-color: #0b063e;
}

@media screen and (max-width: 500px) {
 .table, .heading, .rules {
		font-size: 20px;
	} .adjust {
		width: 100%;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 15px;
	}
}
