/** {
  box-sizing: border-box;
  text-decoration: none;
}

body {
	width: 100%;
	margin: auto;
}*/

/*#ticker {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.badges {
	height: auto;
	width: 25%;
}*/


/*.table,
.heading {
	font-size: 35px;
}*/

th, .name, .result, .pts, .score, .new-teams, .new-prediction {
  background-color: #0b063e;
}

.relegated {
	background-color: red;
}

footer {
	background-color: #0b063e;
}

/*@media screen and (max-width: 1000px) {
 ul, li, .table, .heading {
		font-size: 20px;
	}
}*/
