* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
	width: 100%;
	margin: auto;
}

.container {
	position: relative;
	width: 100%;
}

ul {
	display: flex;
	width: 100%;
	position: static;
/*	left: 0;
	bottom: -85px;*/
	height: auto;
	text-align: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

li {
	width: 98%;/*width: 33.33%;*/
	color: black;
	border: 2px solid #333;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

a {
	color: inherit;
}

#ticker {
  width: 100%;
  height: 22px;
  background-color: rgba(8, 0, 255, 0.63);
  color: #fff;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  padding: 2px;
}

img {
	width: 100%;
	height: 100%;
}

.mainTitle {
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 36px; 
	width: 100%;
	font-size: 25px;
	text-align: center;
	margin: 0 auto;
	margin-top: -125px;
	margin-bottom: 0;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

.table,
.heading {
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
}

.heading {
	margin-top: 85px;
}

section {
	width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.top-table {
	margin-bottom: 80px;
	border-collapse: separate;
	width: 95%;
}

.new-table {
	margin-bottom: 47px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.total {
	font-size: 17px;
	font-weight: bold;
}

.green,
.tally-green {
	background-color: green;
}

.red,
.tally-red {
	background-color: red;
}

.orange,
.tally-orange {
	background-color: orange;
}

.prediction {
	width: 50%;
}

.teams {
	width: 50%;
}

.new-teams {
	width: 15%;
}

.new-prediction {
	width: 40%;
}


.score,
.result,
.pts,
.name,
.teams,
.prediction,
.new-teams,
.new-prediction {
	background-color: #333;
	color: white;
}

.tally-red,
.tally-orange,
.tally-green {
	display: inline-block;
	width: 10px;
	height: 20px;
}

hr {
	color: #333;
	width: 80%;
	height: 2px;
}

footer {
	background-color: #333;
	font-size: 25px;
	color: #fff;
	text-align: center;
	padding: 15px;
}

@media screen and (max-width: 1000px) {
	.mainTitle {
		font-size: 10px;
	} footer {
		font-size: 20px;
	} .table, .heading {
		font-size: 20px;
	}
}

@media screen and (max-width: 400px) {
	.top-table {
		border-collapse: collapse;
		font-size: 14px; 
	}
}
