* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
	width: 100%;
	margin: auto;
}

img {
	width: 100%;
	height: 100%;
}

.mainTitle {
	/*color: #4c220a;*/
	color: #fff;
	font-size: 55px;
	text-align: center;
	margin-top: -125px;
	margin-bottom: 150px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.table,
.heading {
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
}

.heading {
	margin-top: 85px;
}

section {
	width: 100%
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.top-table {
	margin-bottom: 80px;
	border-collapse: separate;
}

.top-table-width {
	display: inline-block;
	width: 15%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.total {
	font-size: 17px;
	font-weight: bold;
}

.green,
.tally-green {
	background-color: green;
}

.red,
.tally-red {
	background-color: red;
}

.orange,
.tally-orange {
	background-color: orange;
}

.teams,
.prediction {
	width: 50%;
}

.score,
.result,
.pts,
.name,
.teams,
.Prediction {
	background-color: #333;
	color: white;
}

.tally-red,
.tally-orange,
.tally-green {
	display: inline-block;
	width: 10px;
	height: 20px;
}

hr {
	color: #333;
	width: 80%;
	height: 2px;
}

footer {
	background-color: #333;
	font-size: 25px;
	color: #fff;
	text-align: center;
	padding: 15px;
}

@media screen and (max-width: 1000px) {
	.mainTitle {
		font-size: 20px;
		margin-top: -32px;
		margin-bottom: 0px;
	} footer {
		font-size: 20px;
	} .table, .heading {
		font-size: 20px;
	}
}

