* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
	width: 100%;
	margin: auto;
}

img {
	width: 100%;
	height: 100%;
}

.mainTitle {
	color: #4c220a;
	font-size: 25px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 25px;
  margin-right: 25px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.orange {
	background-color: orange;
}

.teams {
	max-width: 50%;
}

.prediction {
	max-width: 50%;
}

.score,
.result,
.pts,
.name,
.teams,
.Prediction {
	background-color: #333;
	color: white;
}

footer {
	background-color: #333;
	color: #fff
}

