* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
	width: 100%;
	margin: auto;
}

.row {
	margin-top: 25px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/*@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}*/


img {
	width: 100%;
	height: 100%;
}

.resize {
	width: 71%;
	height: auto;
	display: flex;
	margin: 0 auto;
}

.resizeOne {
	width: 70%;
	height: auto;
	display: flex;
	margin: 0 auto;
}

.table,
.heading {
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
}

section {
	width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.top-table {
	margin-bottom: 80px;
	border-collapse: separate;
/*	width: 33.33%;*/
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.mainTitle {
	font-size: 17px;
	font-weight: bold;
}

.result {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	background-color: #333;
	color: white;
	width: 33.33%;
}

hr {
	color: #333;
	width: 80%;
	height: 2px;
}

footer {
	background-color: #333;
	font-size: 25px;
	color: #fff;
	text-align: center;
	padding: 15px;
}

@media screen and (max-width: 1000px) {
	. {
		font-size: 10px;
	} footer {
		font-size: 20px;
	} .table, .heading {
		font-size: 20px;
	}
}

@media screen and (max-width: 400px) {
	table,
	.result,
	.mainTitle {
		border-collapse: collapse;
		font-size: 13px;
	}
}