* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
	width: 100%;
	margin: auto;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  text-align: center;
  height: 65px;
  border-top: 5px solid red;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 12px;
  text-decoration: none;
  width: 25%;
  height: 60px;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
  width: 25%;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: auto;
  height: 60px;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
  height:  auto;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}



/* Style the tab */


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}





/* OLD CSS FROM HERE */

.row {
	margin-top: 25px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/*@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}*/


img {
	width: 100%;
	height: 100%;
}

.resize {
	width: 71%;
	height: auto;
	display: flex;
	margin: 0 auto;
}

.resizeOne {
	width: 70%;
	height: auto;
	display: flex;
	margin: 0 auto;
}

.table,
.heading {
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
}

section {
	width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.top-table {
	margin-bottom: 0px;
	border-collapse: separate;
/*	width: 33.33%;*/
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 33.33%;
}

.mainTitle {
	font-size: 17px;
	font-weight: bold;
}

.result {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	background-color: #333;
	color: white;
	width: 33.33%;
}

.back-red h3{
	background-color: red;
	text-align: center;
	width: 95%;
	height: auto;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 5px;
	margin-bottom: 5px;
}

hr {
	color: #333;
	width: 80%;
	height: 2px;
}

footer {
	background-color: #333;
	font-size: 25px;
	color: #fff;
	text-align: center;
	padding: 15px;
}

@media screen and (max-width: 1000px) {
	. {
		font-size: 10px;
	} footer {
		font-size: 20px;
	} .table, .heading {
		font-size: 20px;
	}
}

@media screen and (max-width: 400px) {
	table,
	.result,
	.mainTitle {
		border-collapse: collapse;
		font-size: 15px;
	}
}